<IfModule mod_rewrite.c>
RewriteEngine On

RewriteRule ^$ index.lua

RewriteRule ^atom$ index.lua?atom=1

RewriteCond files/$1.md -F
RewriteRule ^(.*)$ index.lua?post=$1

#RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond $1 !^index.lua$
RewriteCond $1 !^files/
RewriteRule ^(.*)$ files/$1
</IfModule>

Options +ExecCGI
AddHandler cgi-script lua
