return {
  title = 'luablog',
  author = 'jon doe',
  base_url = 'http://localhost/',
  default_page = 'index',

  plugins = {'html', 'atom'},

  -- html plugin
  html_post_count = 5,

  -- atom plugin
  atom_url = 'http://localhost/atom',
  atom_id_base = 'tag:localhost,2010:',

  -- openid plugin
  --openid_server = "http://www.myopenid.com/server",
  --openid_delegate = "http://jon.myopenid.com",
  --openid_xrds = "http://jon.myopenid.com/xrds?username=jon.myopenid.com",

  -- disqus plugin
  --disqus_developer = false,
  --disqus_community_name = 'luablog',

  -- intensedebate plugin
  --intensedebate_acct = '01234567890abcdf0123456789abcdf0',

  -- google analytics plugin
  --google_analytics_account_id = 'UA-1234567',
}
